body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#splashScreen {
  position:absolute;
  top:50%; left:50%; /* position of top left of box */
  transform:translate(-50%, -50%); /* relative to size wxh of box */

  width: 200px;
  height:auto;

  background:url("assets/images/splash_loading_dt.gif") 50% no-repeat;
  background-size:contain;

  text-indent:-5000px;
}