body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#splashScreen {
  position:absolute;
  top:50%; left:50%; /* position of top left of box */
  transform:translate(-50%, -50%); /* relative to size wxh of box */

  width: 200px;
  height:auto;

  background:url("assets/images/splash_loading_dt.gif") 50% no-repeat;
  background-size:contain;

  text-indent:-5000px;
}

.view_box{
  width:100vw;
  height:100vh;
}

/*REST OF HEADER STYLES IN assets/css/global_header*/
.view_header {
  width:100vw;
  height:auto;
  min-height:5vh;
  max-height:12vh;
  text-align:center;
  box-shadow:0 0 2px 2px #ccc;
}

.view_body{

}

/*REST OF FOOTER STYLES IN assets/css/global_footer*/
.view_footer{
  box-shadow:0 0 2px 2px #ccc;
  width:100vw;
  position:fixed;
  left:0;
  bottom:0;
  max-height:7vh;
  text-align:center;
}